.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.app-container h1,h2{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-bottom: 40px;}
.app-container h2 {margin-bottom: 20px;}
.card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

input { border-radius: 20px;}


.add-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.task-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card.done {
  background-color: hsl(133, 26%, 93%);
text-decoration: line-through;}


.task-text {
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}

.delete-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #b21f2d;
}
